*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.header{
    padding: 15px 15px;
}
.navigation{
    list-style: none;
    padding: 0;
    margin: 0;
}
.navigation-link{
    text-decoration: none;
    color: #939699;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.navigation-link:hover{
    color: #000;
}
.navigation-link-hot{
    color: red;
}
.navigation-link-hot:hover{
    color: red;
}
.button{
    padding: 10px 20px;
    background-color: #4592FF;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.button-icon, .button-price, .button-text{
    margin-right: 10px;
}
.button-hot{
    background-color: red;
}
.button-hot-text{
    color: #fff;
    margin-right: 0;
}
.slide{
    padding-top: 90px;
    padding-bottom: 110px;
    min-height: 568px;
}
.slide-1{
    background: #b4d1e0 url('../img/hero/model3.png') no-repeat top right;
}
.slide-2{
    background: #C3C3C3 url('../img/hero/model.png') no-repeat top 7% right;
}
.slide-3{
    background: #F1C7C7 url('../img/hero/model4.png') no-repeat top right;
}
.label{
    padding: 5px 12px;
    background-color: #3dc47e;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
}
.label-hot{
    background-color: red;
}
.slide-title{
    color: #262D33;
    font-size: 55px;
    line-height: 70px;
    font-family: 'Roboto Slab', serif;
    margin-top: 20px;
    margin-bottom: 15px;
}
.slide-description{
    font-size: 18px;
    line-height: 30px;
    color: #4b5157;
    max-width: 335px;
    margin-bottom: 40px;
}
.slider{
    position: relative;
}
.slider-nav{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 9;
}
.slider-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.slider-button:focus{
    outline: none;
}
.card{
    min-height: 370px;
    border-radius: 18px;
    padding-top: 60px;
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 80px;
}
.card-1{
    background: #e3e2e3 url("../img/banner/banner-img-1.jpg") no-repeat top right;
    background-size: cover;
}
.card-title{
    font-size: 25px;
    line-height: 30px;
    font-family: 'Roboto Slab', serif;
    color: #262D33;
    max-width: 222px;
    margin: 0;
}
.card-description{
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    max-width: 176px;
    margin-bottom: 25px;
}
.card-2{
    background: #000 url("../img/banner/banner-img-2.jpg") no-repeat top right;
    background-size: cover;
}
.text-light{
    color: #ffffff;
}
.card-title-2{
    max-width: 253px;
}
.card-third{
    max-height: 370px;
    border-radius: 18px;
    padding-top: 60px;
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 80px;
}
.card-3{
    padding-top: 35px;
    background: #CCD5E6 url("../img/banner/banner-img-3.png") no-repeat top right 10%;
    background-size: contain;
}
.card-title.large{
    max-width: 420px;
    font-size: 40px;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.card-description.large{
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    max-width: 321px;
    margin-bottom: 40px;
}
.card-4{
    padding-top: 35px;
    padding-left: 25px;
    background: #FF4F52 url("../img/banner/banner-img-4.png") no-repeat top right;
    background-size: contain;
}
.card-price{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
}
.text-light-2{
    color: #FFC4C9;
}
.section-title{
    font-size: 25px;
    line-height: 30px;
    color: #262d33;
    font-family: 'Roboto Slab', serif;
}
.more{
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    color: #262D33;
    text-decoration: none;
    padding: 10px;
}
.goods-card{
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
}
.goods-card .label{
    position: absolute;
    left: 18px;
    top: 18px;
}
.goods-title{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 25px;
    color: #262D33;
    font-family: 'Roboto Slab', serif;
}
.goods-description{
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    margin-bottom: 20px;
}
.goods-price{
    font-size: 18px;
    line-height: 30px;
    color: #262D33;
    font-weight: 900;
}
.footer{
    background-color: #8F79D4;
    padding-top: 45px;
    padding-bottom: 40px;
    color: #fff;
}
.footer-menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-menu-item:not(:last-child){
    margin-right: 40px;
}
.footer-menu-link{
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
}
.social-link{
    text-decoration: none;
    margin-left: 15px;
}
.footer-text{
    font-size: 14px;
    line-height: 20px;
    color: #E7D9FF;
}
.footer-right{
    display: flex;
    align-items: flex-end;
}
.footer-line{
    color: #ffffff;
    opacity: 0.5;
    height: 1px;
}
.top-link{
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
}
.top-link-text{
    margin-right: 15px;
}
.payment-logo{
    vertical-align: middle;
    margin-right: 20px;
}
@media (max-width: 1200px){
    .card-3{
        background-size: cover;   
       }
}
@media (max-width: 992px){
    .slider-nav{
       display: none;
    }
    .slide-1{
        background: #b4d1e0 url('../img/hero/model3.png') no-repeat top left 300px;
    }
    .slide-2{
        background: #C3C3C3 url('../img/hero/model.png') no-repeat top left 300px;
    }
    .slide-3{
        background: #F1C7C7 url('../img/hero/model4.png') no-repeat top left 100px;
    }
}
@media (max-width: 576px){
    .slide-title{
        font-size: 36px;
        line-height: 1.4;
        margin-bottom: 0;
    }
    .slide-1{
        background: #b4d1e0 url('../img/hero/model3.png') no-repeat top left 130px;
    }
    .slide-2{
        background: #C3C3C3 url('../img/hero/model.png') no-repeat top left 130px;
    }
    .slide-3{
        background: #F1C7C7 url('../img/hero/model4.png') no-repeat top right -200px;
    }
    .card{
        background-position: left top;
    }
    .card-4{
        background-position: right top;
    }
    .card {
        padding: 30px;
        min-height: 300px;
    }
}